attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
emoji==0.5.4
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.2
multitasking==0.0.9
numpy==1.22.0
pandas==1.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
twx.botapi==3.6.2
urllib3==1.26.5
yfinance==0.1.54
